h2{
  position: relative;
  left:20px;
  top: 75px;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
position: relative;
top:100px;
left:40px;
}

.form #uname {
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
.form #username{
height: 40px;
}

.form #submit, #back{
  position: relative;
  height:40px;
  top:40px;
  width: 200px;
  border: thin;
  background-color: whitesmoke;
  text-decoration:none;
  font-size: 15px;
  font-color: black;
}

.form #invite{
  position: relative;
  top: 20px;
  font-size: 15px;
  left: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

a:link{
  text-decoration: none;
  color: green;
  }

a:hover{
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
  color: black;
}