
.header #title{
  margin-left: 160px;
  text-align: "center";
  display: inline-block;
}
.header #button{
  float: right;
}

.header #sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.header #sidenav a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.header #sidenav a:hover,  .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .header #sidenav {padding-top: 15px;}
  .header #sidenav a {font-size: 18px;}
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}





